<?xml version="1.0" encoding="UTF-8"?>
<!--
This is the XML DTD for the Servlet 2.3 deployment descriptor.
All Servlet 2.3 deployment descriptors must include a DOCTYPE
of the following form:

  <!DOCTYPE web-app PUBLIC
	"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

-->
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID">
  <display-name>Demo</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ticket.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.ticket.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManageInfo_AmindServlet</servlet-name>
    <servlet-class>com.ticket.servlet.UserManageInfo_AmindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManageServlet</servlet-name>
    <servlet-class>com.ticket.servlet.UserManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserSelectServlet</servlet-name>
    <servlet-class>com.ticket.servlet.UserSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.ticket.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JumpServlet</servlet-name>
    <servlet-class>com.ticket.servlet.JumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/servlet/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManageInfo_AmindServlet</servlet-name>
    <url-pattern>/servlet/UserManageInfo_AmindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManageServlet</servlet-name>
    <url-pattern>/servlet/UserManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSelectServlet</servlet-name>
    <url-pattern>/servlet/UserSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/servlet/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JumpServlet</servlet-name>
    <url-pattern>/servlet/JumpServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>